@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.input {
  @apply w-full rounded-lg border border-gray-300 px-4 py-2 focus:border-purple-500 focus:outline-none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
